/* From Uiverse.io by vinodjangid07 */
.Btn,
.delBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80px;
  height: 30px;
  border: none;
  padding: 0px 15px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
  transition-duration: 0.3s;
  font-size: 12px;
}
.delBtn {
  box-shadow: 5px 5px 0px rgb(149, 2, 2);
  color: rgb(149, 2, 2);
}
.svg {
  width: 12px;
  position: absolute;
  left: 0;
  margin-left: 10px;
  /* fill: rgb(0, 0, 0); */
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}
.delBtn:hover {
  color: transparent;
}

.Btn:hover svg {
  left: 43%;
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  transition-duration: 0.3s;
}
.delBtn:hover svg {
  left: 43%;
  margin: 0;
  padding: 0;
  border: none;
  color: rgb(149, 2, 2);
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* *****************************ADD BTN */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}
